.post-of-the-day-part {
    width: 270px;
    height: 400px;
    background-color: #f7f9fa;
    border-radius: 8px;
    margin-left: 14%;
}

.post-of-the-day-part-title {
    justify-content: center;
    font-size: 22px;
    text-align: center;
    color: #4632ff;
}

.post-of-the-day-part-content-image {
    height: 120px;
    background-image: url("https://photos.tf1info.fr/images/1280/720/halloween-unsplash-citrouille-16c5eb-0@1x.jpeg");
    border-radius: 10px;
    margin-left: 6%;
    margin-right: 6%;
    object-fit: fill;
}

.post-of-the-day-part-description {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.post-of-the-day-reaction {
    display: flex;
}

.publication-of-the-day-avatar {
    width: 39px;
    height: 39px;
    margin-left: 10px;
    margin-right: 13px;
}