.Hero {
    display: flex;
    flex-direction: row;
    margin: 3% 62px 0px 0px;
}

.Hero-text-part {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 50%;
}

.part-two {
    margin-top: -20px;
    color: #f72000;
}

.image-section {
    margin: 1% 24px 1% 5%;
    width: 62%;
    height: 397px;
    border-radius: 9%;
    background-image: url("https://media.istockphoto.com/photos/work-together-to-win-together-picture-id1331146523?k=20&m=1331146523&s=612x612&w=0&h=A86d9Gc8n74LYhRbX0JCKs8DEeuGXunSOL27_-sisTk=");
}

.gpm-loging-image {
    object-fit: contain;
}

.gpm-hero-image {
    width: auto;
    height: auto;
}

.title-part {
    text-align: center;
    margin-top: 6%;
}

.title-part-title {
    font-size: 32px;
    color: linear-gradient(0deg, #009cea 45%, #4632ff);
}

.title-part-description {
    margin: 0 342px 0 342px;
}

.wall-part {
    display: flex;
    margin: 8% 10% 0 10%;
}

.filter-bar {
    width: 26%;
}

.filter-bar-category-name {
    font-weight: 300;
    size: 20px;
}

.filter-bar-card {
    cursor: pointer;
    border: black;
    display: flex;
    align-items: center;
    height: 25%;
}

.clock-icon {
    color: #374649;
    margin-left: 3%;
    margin-right: 2%;
}

.bolt-icon {
    color: #ffd400;
    margin-left: 3%;
    margin-right: 2%;
}

.heart-icon {
    color: #f72000;
    margin-left: 3%;
    margin-right: 2%;
}

.filter-bar-card-new-post {
    cursor: pointer;
    border: black;
    display: flex;
    align-items: center;
    height: 25%;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.15);
    border-radius: 4px;
}

.filter-bar-card:hover {
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.15);
    border-radius: 4px;
}

.filter-bar-button {
    width: 65%;
    align-items: center;
}

.share-post-button {
    text-decoration: none;
    background-color: #f72000;
    color: white;
    border: #f72000;
    border-radius: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 800;
    font-size: 12px;
    height: 28px;
    margin-top: 5%;
}