.link-design {
    text-decoration: none;
}

.publication-card {
    width: 400px;
    margin-left: 24%;
    display: flex;
    margin-bottom: 5%;
    border-radius: 8px;
    border-bottom: 2px;
}

.first-section {
    display: flex;
    margin-right: 6%;
    text-decoration: none;
}

.reaction {}

.like-and-comment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reaction-icon-like {
    color: #f72000;
    margin-right: 8px;
}

.reaction-icon-comment {
    color: #285aff;
    margin-right: 8px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

.user-info-name {
    font-weight: 400;
    font-size: 20px;
}

.publication-avatar {
    width: 49px;
    height: 49px;
}

.post-image {
    height: 213px;
    border-radius: 10px;
    width: 300px;
}

.comment-button {
    justify-content: space-between;
}

.user-info-name {
    color: red;
    text-decoration-line: underline;
    -moz-text-decoration-color: white;
}

.delete-button {
    background-color: #f72000;
    color: white;
    border: #f72000;
    border-radius: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    margin-left: 275px;
    margin-bottom: 20px;
}